* {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
	font-size: 16px;
}
a:link {
	color: #9900cc;
	text-decoration: none;
}
a:visited {
	color: #cc00ff;
	text-decoration: none;
}
a:active {
	color: #ff0000;
	text-decoration: underline;
}
a:hover {
	color: #ff00ff;
	text-decoration: underline;
}
.hidden {
	display: none !important;
}
.search-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background: #663399;
	color: #ffffff;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.5);
}
.app-title {
	display: block;
	position: absolute;
	top: 9px;
	left: 9px;
	bottom: 9px;
	padding: 0 0 0 56px;
	height: 32px;
	line-height: 32px;
	font-size: 24px;
	font-weight: 300;
}
.app-title img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.search-container {
	display: block;
	position: absolute;
	top: 9px;
	left: 250px;
	right: 60px;
	bottom: 9px;
	height: 32px;
	line-height: 32px;
}
.search-input {
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid #ffffff;
	border-radius: 4px;
	box-sizing: border-box;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	height: 32px;
	width: 100%;
	padding: 0 6px;
}
.search-input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}
.menu-icon {
	display: block;
	position: absolute;
	top: 9px;
	right: 9px;
	bottom: 9px;
	width: 32px;
	height: 32px;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
}
.menu {
	display: block;
	position: fixed;
	top: 50px;
	right: 10px;
	padding: 8px 0;
	background: #ffffff;
	color: #000000;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.5);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.menu-separator {
	display: block;
	background: #cccccc;
	height: 1px;
	margin: 8px 0;
}
.menu-label {
	display: block;
	padding: 0 40px;
	height: 32px;
	line-height: 32px;
	color: #999999;
	cursor: default;
}
.menu-item {
	display: block;
	padding: 0 40px;
	height: 32px;
	line-height: 32px;
	cursor: pointer;
}
.menu-item:hover {
	background: #eeeeee;
}
.menu-item.selected {
	background: url(checkmark.png) no-repeat;
	background-size: 24px 24px;
	background-position: 8px 4px;
}
.menu-item.selected:hover {
	background: #eeeeee url(checkmark.png) no-repeat;
	background-size: 24px 24px;
	background-position: 8px 4px;
}
a.menu-item,
a.menu-item:active,
a.menu-item:focus,
a.menu-item:hover,
a.menu-item:link,
a.menu-item:visited {
	color: #000000;
	text-decoration: none;
}
.github-link {
	background: url(github.png) no-repeat;
	background-size: 24px 24px;
	background-position: 8px 4px;
}
.github-link:hover {
	background: #eeeeee url(github.png) no-repeat;
	background-size: 24px 24px;
	background-position: 8px 4px;
}
.content {
	margin: 50px 0 0 0;
}
.tiles {
	padding: 12px;
}
.tile {
	display: inline-block;
	padding: 8px;
}
.tile:hover {
	background: #eeeeee;
}
a.tile,
a.tile:active,
a.tile:focus,
a.tile:hover,
a.tile:link,
a.tile:visited {
	color: #000000;
	text-decoration: none;
}
h1 {
	margin: 16px 0;
	font-size: 24px;
}
table.block-table {
	margin: 16px 0;
	table-layout: fixed;
	border-collapse: collapse;
}
table.block-table th {
	margin: 0;
	padding: 4px 0;
	width: 72px;
	border: 1px solid #999999;
	font-family: monospace;
	text-align: center;
	vertical-align: center;
}
table.block-table td {
	margin: 0;
	padding: 0;
	width: 72px;
	border: 1px solid #999999;
	text-align: center;
	vertical-align: center;
}
table.block-table .tile {
	display: block;
	padding: 8px;
	width: 56px;
	text-align: center;
}
.block-cell-nonmatch {
	background: #cccccc;
}
.block-cell-nonmatch .tile:hover {
	background: #bbbbbb;
}
.block-cell-unassigned {
	background: #999999;
}
.block-cell-unassigned .tile:hover {
	background: #888888;
}
.smokescreen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
}
.dialog {
	position: fixed;
	top: 10%;
	left: 15%;
	right: 15%;
	background: #ffffff;
	border-radius: 9px;
	overflow: hidden;
	-webkit-box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.5);
}
.flagpole-link {
	display: block;
	position: absolute;
	top: 9px;
	left: 9px;
	width: 24px;
	height 24px;
	cursor: pointer;
	opacity: 0.5;
}
.flagpole-link:hover {
	opacity: 1;
}
.close-button {
	display: block;
	position: absolute;
	top: 9px;
	right: 9px;
	width: 24px;
	height 24px;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	opacity: 0.5;
}
.close-button:hover {
	opacity: 1;
}
.flag-viewer {
	background: #eeeeee;
	border-bottom: 1px solid #cccccc;
	padding: 16px;
	text-align: center;
}
.tabs {
	border-bottom: 1px solid #cccccc;
	padding: 0 12px;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.tab {
	display: inline-block;
	padding: 5px 12px;
	font-family: sans-serif;
	font-size: 14px;
	background: #ffffff;
	color: #333333;
}
.tab:hover {
	background: #eeeeee;
	color: #222222;
}
.tab.selected {
	background: #cccccc;
	color: #000000;
}
a.tab,
a.tab:link,
a.tab:visited {
	color: #333333;
	text-decoration: none;
}
a.tab:active,
a.tab:focus,
a.tab:hover {
	color: #222222;
	text-decoration: none;
}
a.tab.selected,
a.tab.selected:active,
a.tab.selected:focus,
a.tab.selected:hover,
a.tab.selected:link,
a.tab.selected:visited {
	color: #000000;
	text-decoration: none;
}
th, td {
	padding: 1px 16px 1px 0;
	text-align: left;
	white-space: nowrap;
}
.properties {
	padding: 12px;
}
.properties table {
	width: 100%;
	table-layout: fixed;
}
.properties th,
.properties .th {
	width: 110px;
	min-width: 110px;
	max-width: 110px;
}
.prop-id {
	font-family: monospace;
}
@font-face {
	font-family: "Fiavex";
	src: url(fiavex.eot);
	src: url(fiavex.ttf) format("truetype");
}
.fiavex {
	font-family: "Fiavex";
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
}
.th-prop-kw {
	vertical-align: top;
}
.prop-kw {
	vertical-align: top;
	white-space: normal;
}
.downloads {
	padding: 6px;
	white-space: nowrap;
	overflow: hidden;
	overflow-x: auto;
}
.downloads::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}
.downloads::-webkit-scrollbar-track {
	background: #ffffff;
}
.downloads::-webkit-scrollbar-thumb {
	background: #999999;
	border: 4px solid #ffffff;
	border-radius: 8px;
}
.downloads::-webkit-scrollbar-thumb:hover {
	background: #666666;
}
.downloads > div {
	display: inline-block;
	margin: 6px;
	vertical-align: top;
}
.downloads .dl-selectors {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.downloads .dl-selectors.dim {
	opacity: 0.5;
}
.downloads .dl-style-selector {
	position: relative;
	height: 44px;
	line-height: 44px;
	padding: 2px 12px 2px 70px;
	margin: 2px 0;
	border: 1px solid #cccccc;
	cursor: pointer;
}
.downloads .dl-style-selector:hover {
	background: #eeeeee;
}
.downloads .dl-style-selector.selected {
	background: #cccccc;
}
.downloads .dl-style-selector .wrapper {
	display: block;
	position: absolute;
	top: 50%;
	left: 8px;
	width: 54px;
	text-align: center;
}
.downloads .dl-style-selector .wr48 {
	height: 48px;
	line-height: 48px;
	margin-top: -24px;
}
.downloads .dl-style-selector .wr36 {
	height: 36px;
	line-height: 36px;
	margin-top: -18px;
}
.downloads .dl-ar-selector {
	font-family: monospace;
	height: 18px;
	line-height: 18px;
	padding: 2px 12px 2px 8px;
	margin: 2px 0;
	border: 1px solid #cccccc;
	cursor: pointer;
}
.downloads .dl-ar-selector:hover {
	background: #eeeeee;
}
.downloads .dl-ar-selector.selected {
	background: #cccccc;
}
.downloads .dl-links,
.downloads .dl-links-all {
	width: 160px;
}
.downloads a {
	display: block;
	height: 24px;
	line-height: 24px;
	padding-left: 28px;
	margin: 2px 0;
	background: url(download.png) no-repeat;
	background-size: 24px 24px;
}
.encoding {
	padding: 12px;
}
.encoding table {
	width: 100%;
	table-layout: fixed;
}
.encoding th,
.encoding .th {
	width: 150px;
	min-width: 150px;
	max-width: 150px;
}
.prop-puaname {
	font-family: monospace;
}
.code-string {
	width: 50px;
	min-width: 50px;
	max-width: 50px;
}
.code-sequence {
	font-family: monospace;
	overflow: hidden;
	text-overflow: ellipsis;
}
.colors {
	padding: 6px;
}
.colors table {
	display: inline-table;
	margin: 6px;
	width: 280px;
	table-layout: fixed;
	vertical-align: top;
}
.colors th,
.colors .th {
	width: 80px;
	min-width: 80px;
	max-width: 80px;
}
.swatch {
	height: 20px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.acqr {
	padding: 12px;
	text-align: center;
}
.clickcopy {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
.butterbar {
	display: block;
	position: fixed;
	top: 4px;
	left: 50%;
	width: 200px;
	margin: 0 0 0 -100px;
	padding: 4px;
	background: #ddd;
	border: solid 1px #bbb;
	border-radius: 4px;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	color: black;
}
.acc-active {
	text-decoration: underline;
}
@media (max-width: 480px) {
	.app-title {
		display: none;
	}
	.search-container {
		left: 10px;
		right: 50px;
	}
	.dialog {
		top: 60px;
		left: 10px;
		right: 10px;
	}
}